
@{
    ViewBag.Title = "Multi";
}

<h2>Add Multiple Guest </h2>

<link href="~/Content/layout.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Multiple Guest</title>
</head>
<body>
    <div>
        <label>if all guest list from same familly!</label><br /><br />

        <div class="form-group col-lg-6">
            First Name

            <input type="text" id="firstName" class = "form-control"/>

        </div>
        <div class="form-group col-lg-6">
            Last Name

            <input type="text" id="lastName" class = "form-control" />

        </div>
        <div class="form-group col-lg-6">
            Address

            <input type="text" id="address" class = "form-control" />

        </div>
        <div class="form-group col-lg-6">
            Email

            <input type="email" id="email" class = "form-control" />

        </div>
        <div class="form-group col-lg-6">
            Mobile

            <input type="number" id="phone" class = "form-control" />

        </div>
        <div class="form-group col-lg-6">
            NID or Passport No

            <input type="number" id="nID_No" class = "form-control" />

        </div>


        <input type="button" class="btn" id="btnUpdateUserDetail" value="Add" onclick="AddValueToList();" />
        <input type="button" class="btn" id="btnUpdateUserDetailEdit" value="Edit" onclick="EditValueToList();" />

        <br />
        <table id="infoTable">
            <thead>
                <tr>
                    <th> Guest Id </th>
                    <th>First Name </th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>NID/Passport No</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <input type="button" id="btnUpdateFacultyDetail" class="btn" value="Submit to Server" onclick="UpdateGuestDetail();" />


    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.3.1.js"></script>

<script lang="en" type="text/javascript">
    var guestId = 0;
    var guestList = [];

    function AddValueToList() {


       var a =  document.getElementById("firstName").value;
       var b =  document.getElementById("lastName").value;
       var c =  document.getElementById("address").value;
       var d =  document.getElementById("email").value;
       var e = document.getElementById("phone").value;
       var f =  document.getElementById("nID_No").value;

        if (a == "" || b == "" || c == "" || d == "" || e == "" || f == "") {
            alert("Input data can not empty");
            return false;
        }

        guestId = 0;
        var guestDetails = {};
        guestDetails["GuestId"] = guestList.length + 1;
        guestDetails["FirstName"] = document.getElementById("firstName").value;
        guestDetails["LastName"] = document.getElementById("lastName").value;
        guestDetails["Address"] = document.getElementById("address").value;
        guestDetails["Email"] = document.getElementById("email").value;
        guestDetails["Phone"] = document.getElementById("phone").value;
        guestDetails["NID_No"] = document.getElementById("nID_No").value;
        guestList.push(guestDetails);
        fillTable();

        document.getElementById("firstName").value = '';
        document.getElementById("lastName").value = '';
        document.getElementById("address").value = '';
        document.getElementById("email").value = '';
        document.getElementById("phone").value = '';
        document.getElementById("nID_No").value = '';
    }
  

    function EditValueToList() {

        for (var i = guestList.length; i--;) {
            if (guestList[i].GuestId === guestId) {
                guestList[i].FirstName = document.getElementById("firstName").value;
                guestList[i].LastName = document.getElementById("lastName").value;
                guestList[i].Address = document.getElementById("address").value;
                guestList[i].Email = document.getElementById("email").value;
                guestList[i].Phone = document.getElementById("phone").value;
                guestList[i].NID_No = document.getElementById("nID_No").value;
                break;
            }
        }

        fillTable();

        document.getElementById("firstName").value = '';
        document.getElementById("lastName").value = '';
        document.getElementById("address").value = '';
        document.getElementById("email").value = '';
        document.getElementById("phone").value = '';
        document.getElementById("nID_No").value = '';

    }



    function fillTable() {
        $('#infoTable > tbody').empty();

        guestList.forEach(function (val) {
            $('#infoTable > tbody:last-child').append('<tr><td>' + val.GuestId + '</td><td>' + val.FirstName + '</td><td>' + val.LastName + '</td><td>' + val.Address + '</td><td>' + val.Email + '</td><td>' + val.Phone + '</td><td>' + val.NID_No + '</td><td> <input type="button" class="btn"  value="Delete" onclick="tempDelete(' + val.GuestId + ')" /><input type="button" class="btn"  value="Edit" onclick="editPre(' + val.GuestId + ')" /></td></tr>');
        })

    }

    function editPre(GuestId) {
        for (var i = guestList.length; i--;) {
            if (guestList[i].GuestId === GuestId) {
                guestId = GuestId;
                document.getElementById("firstName").value = guestList[i].FirstName;
                document.getElementById("lastName").value = guestList[i].LastName;
                document.getElementById("address").value = guestList[i].Address;
                document.getElementById("email").value = guestList[i].Email;
                document.getElementById("phone").value = guestList[i].Phone;
                document.getElementById("nID_No").value = guestList[i].NID_No;
                break;
            }
        }


    }



    function tempDelete(GuestId) {
        remove(guestList, GuestId);
        fillTable();
    }

    function remove(arr, item) {
        for (var i = arr.length; i--;) {
            if (arr[i].GuestId === item) {
                arr.splice(i, 1);
            }
        }
        for (var i = 0; i < arr.length; i++) {
            arr[i].GuestId = i + 1;
        }

    }


    function UpdateGuestDetail() {
        var guestJason = JSON.stringify(guestList);

        var getReportColumnsParams = { "guestJson": guestJason };

        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Guests/MultuDataInsert',
            context: document.body,
            data: getReportColumnsParams,
            success: function (result) {
                alert(result);
            },
            error: function (xhr) {
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });

        guestList = [];
        document.getElementById("firstName").value = '';
        document.getElementById("lastName").value = '';
        document.getElementById("address").value = '';
        document.getElementById("email").value = '';
        document.getElementById("phone").value = '';
        document.getElementById("nID_No").value = '';
        fillTable();




    }




</script>



