<h1>Foods Collection</h1>
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <div class="content">
                <!-- ################################################################################################ -->
                <div id="gallery">
                    <figure>
                        <header class="heading">Foods Collection</header>
                        <ul class="nospace clear">
                            <li class="one_quarter first"><a href="~/Home/Food"><img src="~/Images/Food/thai.jpg" alt=""></a></li>
                            <li class="one_quarter"><a href="~/Home/Food"><img src="~/Images/Food/thai-food.jpg" alt=""></a></li>
                            <li class="one_quarter"><a href="~/Home/Food"><img src="~/Images/Food/SUSAN.jpg" alt=""></a></li>
                            <li class="one_quarter"><a href="~/Home/Food"><img src="~/Images/Food/seafood-feast.jpg" alt=""></a></li>
                            <li class="one_quarter first"><a href="~/Home/Food"><img src="~/Images/Food/sandwitch.jpg" alt=""></a></li>
                            <li class="one_quarter"><a href="~/Home/Food"><img src="~/Images/Food/PrimeRib-new.jpg" alt=""></a></li>
                            <li class="one_quarter"><a href="~/Home/Food"><img src="~/Images/Food/Meat.jpg" alt=""></a></li>
                            <li class="one_quarter"><a href="~/Home/Food"><img src="~/Images/Food/Jusse.jpg" alt=""></a></li>
                            <li class="one_quarter first"><a href="~/Home/Food"><img src="~/Images/Food/image.jpg" alt=""></a></li>
                            <li class="one_quarter"><a href="~/Home/Food"><img src="~/Images/Food/gn-gift_guide_variable_c.jpg" alt=""></a></li>
                            <li class="one_quarter"><a href="~/Home/Food"><img src="~/Images/Food/Fish.jpg" alt=""></a></li>
                            <li class="one_quarter"><a href="~/Home/Food"><img src="~/Images/Food/ciken.jpg" alt=""></a></li>
                        </ul>
                        <figcaption>Gallery Description Goes Here</figcaption>
                    </figure>
                </div>
            </div>
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>