
<h1>Rooms Collection</h1>
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="content">
            <!-- ################################################################################################ -->
            <div id="gallery">
                <figure>
                    <header class="heading">Rooms Collection</header>
                    <ul class="nospace clear">
                        <li class="one_quarter first"><a href="~/Home/about"><img src="~/Images/Room/12755601.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="~/Home/about"><img src="~/Images/Room/211743084.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="~/Home/about"><img src="~/Images/Room/211743085.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="~/Home/about"><img src="~/Images/Room/229646971.jpg" alt=""></a></li>
                        <li class="one_quarter first"><a href="~/Home/about"><img src="~/Images/Room/229646972.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="~/Home/about"><img src="~/Images/Room/229646973.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="~/Home/about"><img src="~/Images/Room/229649532.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="~/Home/about"><img src="~/Images/Room/236750751.jpg" alt=""></a></li>
                        <li class="one_quarter first"><a href="~/Home/about"><img src="~/Images/Room/229646973.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="~/Home/about"><img src="~/Images/Room/211743084.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="~/Home/about"><img src="~/Images/Room/236750751.jpg" alt=""></a></li>
                        <li class="one_quarter"><a href="~/Home/about"><img src="~/Images/Room/12755601.jpg" alt=""></a></li>
                    </ul>
                    <figcaption>Gallery Description Here</figcaption>
                </figure>
            </div>
        </div>
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>
