@{
    ViewBag.Title = "Contact";
}
<link href="~/Content/layout.css" rel="stylesheet" type="text/css" media="all">
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    kathal bagan dal, karowan Bazar<br />
    284, Santi Niketon<br />
    <abbr title="Phone">P:</abbr>
    01812-783839
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rhidb1251184@gmail.com">rhidb1251184@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:rhrashal50@gmail.com">rhrashal50@gmail.com</a>
</address>