@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    (HotelManagementSystem) is a family friendly resort,
    where children are at the forefront. At the Kids’ Club,
    our little guests and their families can play table football and board games,
    or get creative at the special drawing tables. Our experienced staff also organizes kids’
    entertainment sessions with fun activities and face painting.
    Porto Zante also offers an outdoor playground, the Kids’ Corner,
    and various beach & pool toys for young guests of all ages,
    while children can relax at the specially decorated bedrooms,
    enjoy a specially created kids’ menu or even visit the nearby water sports park and spend a day of splashing fun.
    Condé Nast Traveller magazine in the UK selected Porto Zante Villas and Spa as one of the 14 Best Family Hotels in the World for 2020.
</p>
