@model HotelManagementSystem_CoreMvc.Models.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2><strong>Register Page </strong></h2><br />
            <form asp-action="Register" asp-controller="Account" method="post">
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" class="form-control" asp-for="UserName" placeholder="User Name">
                    <span asp-validation-for="UserName" class="alert-danger"></span>
                </div>
                @*<div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" asp-for="LastName" placeholder="Last Name">
                    <span asp-validation-for="LastName" class="alert-danger"></span>
                </div>*@

                <div class="form-group">
                    <label>Email Address</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="Email Address">
                    <span asp-validation-for="Email" class="alert-danger"></span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                    <span asp-validation-for="Password" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password">
                    <span asp-validation-for="ConfirmPassword" class="alert-danger"></span>
                </div>


                <div class="form-check">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


